
body{
	background: #CCCCCC;
	font-size: 20px;
	text-align: left;
	 }

 #banner{
 	width: 30%;
 }

h1{
	text-align: center;
	color: rgb(0, 100, 0);


}
h2{
	color: blue;
	text-align: center;
}
